body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #999999; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: transparent;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#Calculadora {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #000; /* Ajuste de color */
}

#Calculadora label {
    font-weight: bold;
}

#Calculadora input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#Calculadora button {
    padding: 5px 10px;
    background-color: #6eb5e8;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#Calculadora button:hover {
    background-color: #5ca9e0;
}

#resultados {
    margin-top: 20px;
    text-align: center;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #6eb5e8;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #5ca9e0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
}

.social-links img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.social-links a:hover img {
    transform: scale(1.2);
}
